<div class="item col-lg-4 col-md-6 col-xs-12 landscapes sale">
  <div class="project-single" data-aos="fade-up" data-aos-delay="150">
    <div class="project-inner project-head">
      <div class="homes">
        <!-- homes img -->
        <a href="single-property-1.html" class="homes-img">
          <div class="homes-tag button alt featured">Featured</div>
          <div class="homes-tag button alt sale">For Sale</div>
          <div class="homes-price">$9,000/mo</div>
          <img src="images/blog/b-11.jpg" alt="home-1" class="img-responsive" />
        </a>
      </div>
      <div class="button-effect">
        <a href="single-property-1.html" class="btn"
          ><i class="fa fa-link"></i
        ></a>
        <a
          href="https://www.youtube.com/watch?v=14semTlwyUY"
          class="btn popup-video popup-youtube"
          ><i class="fas fa-video"></i
        ></a>
        <a href="single-property-2.html" class="img-poppu btn"
          ><i class="fa fa-photo"></i
        ></a>
      </div>
    </div>
    <!-- homes content -->
    <div class="homes-content">
      <!-- homes address -->
      <h3>
        <a href="single-property-1.html">Real House Luxury Villa</a>
      </h3>
      <p class="homes-address mb-3">
        <a href="single-property-1.html">
          <i class="fa fa-map-marker"></i
          ><span>Est St, 77 - Central Park South, NYC</span>
        </a>
      </p>
      <!-- homes List -->
      <ul class="homes-list clearfix pb-3">
        <li class="the-icons">
          <i class="flaticon-bed mr-2" aria-hidden="true"></i>
          <span>6 Bedrooms</span>
        </li>
        <li class="the-icons">
          <i class="flaticon-bathtub mr-2" aria-hidden="true"></i>
          <span>3 Bathrooms</span>
        </li>
        <li class="the-icons">
          <i class="flaticon-square mr-2" aria-hidden="true"></i>
          <span>720 sq ft</span>
        </li>
        <li class="the-icons">
          <i class="flaticon-car mr-2" aria-hidden="true"></i>
          <span>2 Garages</span>
        </li>
      </ul>
      <div class="footer">
        <a href="agent-details.html">
          <img src="images/testimonials/ts-1.jpg" alt="" class="mr-2" />
          Lisa Jhonson
        </a>
        <span>2 months ago</span>
      </div>
    </div>
  </div>
</div>


const propertyElement =
"" +
'<div class="item col-lg-4 col-md-6 col-xs-12 landscapes sale">' +
'  <div class="project-single" data-aos="fade-up" data-aos-delay="150">' +
'    <div class="project-inner project-head">' +
'      <div class="homes">' +
"        <!-- homes img -->" +
'        <a href="single-property-1.html" class="homes-img">' +
'          <div class="homes-tag button alt featured">Featured</div>' +
'          <div class="homes-tag button alt sale">For Sale</div>' +
'          <div class="homes-price">$9,000/mo</div>' +
'          <img src="images/blog/b-11.jpg" alt="home-1" class="img-responsive" />' +
"        </a>" +
"      </div>" +
'      <div class="button-effect">' +
'        <a href="single-property-1.html" class="btn"' +
'          ><i class="fa fa-link"></i' +
"        ></a>" +
"        <a" +
'          href="https://www.youtube.com/watch?v=14semTlwyUY"' +
'          class="btn popup-video popup-youtube"' +
'          ><i class="fas fa-video"></i' +
"        ></a>" +
'        <a href="single-property-2.html" class="img-poppu btn"' +
'          ><i class="fa fa-photo"></i' +
"        ></a>" +
"      </div>" +
"    </div>" +
"    <!-- homes content -->" +
'    <div class="homes-content">' +
"      <!-- homes address -->" +
"      <h3>" +
'        <a href="single-property-1.html">Real House Luxury Villa</a>' +
"      </h3>" +
'      <p class="homes-address mb-3">' +
'        <a href="single-property-1.html">' +
'          <i class="fa fa-map-marker"></i' +
"          ><span>Est St, 77 - Central Park South, NYC</span>" +
"        </a>" +
"      </p>" +
"      <!-- homes List -->" +
'      <ul class="homes-list clearfix pb-3">' +
'        <li class="the-icons">' +
'          <i class="flaticon-bed mr-2" aria-hidden="true"></i>' +
"          <span>6 Bedrooms</span>" +
"        </li>" +
'        <li class="the-icons">' +
'          <i class="flaticon-bathtub mr-2" aria-hidden="true"></i>' +
"          <span>3 Bathrooms</span>" +
"        </li>" +
'        <li class="the-icons">' +
'          <i class="flaticon-square mr-2" aria-hidden="true"></i>' +
"          <span>720 sq ft</span>" +
"        </li>" +
'        <li class="the-icons">' +
'          <i class="flaticon-car mr-2" aria-hidden="true"></i>' +
"          <span>2 Garages</span>" +
"        </li>" +
"      </ul>" +
'      <div class="footer">' +
'        <a href="agent-details.html">' +
'          <img src="images/testimonials/ts-1.jpg" alt="" class="mr-2" />' +
"          Lisa Jhonson" +
"        </a>" +
"        <span>2 months ago</span>" +
"      </div>" +
"    </div>" +
"  </div>" +
"</div>" +
"";

